body {
    background-image:url(images/bg-curvy-desktop.svg), linear-gradient(#181f2bf5 5%, #181f2b 30%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    color: rgba(255, 255, 255, 0.904);
    font-family: 'Open Sans', sans-serif;  


    
    
}



.container {
    padding-right: 0px;
    padding-left: 0px;

}





/* this is being used in order to eliminate the white gap on the right side of the screen that appears on on mobile/tablet view*/
.row {
    
    margin-right: 0px;
    margin-left: 0px;

    
}




/*  ---------- nav bar -------------- */

.navbar {
    font-family: 'Raleway', sans-serif;
    font-size: .8rem; 
    
    
   
}

.navbar-nav {
    white-space: nowrap;
}



.navbar-nav a:hover{
    text-decoration: underline;
    font-weight: bold;
     
        

}




h1 {    
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.6;
}

.lead {
    font-size: .9rem;
}





.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}




.btn-primary {
    background: linear-gradient(to right, #65e2d9, #339ecc);
    font-size: 14px;
    border: none;
    
}

.card {
    background-color: transparent; 
    max-width: 470px;
    border: none;
    /* border: pink solid; */

    
}


.card-img-top {
    max-height: 100px;
    object-fit: scale-down;
    /* border: violet solid; */

    
}

h2 {
    font-weight: 700;
    font-size: 1.25rem;
    
}

a {
    color: white;
}


.mybox1 a:hover{
    color: #65e2d9;
    text-decoration: none;
    transition: .5s;
    
}




.quotes .card{
    font-size: .9rem;
    margin-top: 120px;
    background-color: hsl(219, 30%, 18%);
   
    
}

.card-footer {
    background-color: hsl(219, 30%, 18%);
    border: none;

}

.mybox1 h1{
    font-size: 1.2rem;
}


.myfootername {
    line-height: 0.2rem;
    min-width: 100%;
    margin-top: auto;
    margin-left: 7px;
    
}

.card-footer img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
}
    

.mycard-shade {
    box-shadow: 10px 10px 1px hsla(237, 33%, 13%, 0.418);
}

.mynewsletter {
    max-width: 650px;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 10px 10px 1px hsla(237, 33%, 13%, 0.418);
    
}

.myformwrapper {
    display: block;
    
}




.myz {
    position: absolute;
    z-index: -1;
    
}

footer{
    margin-top: -100px;
    background-color: hsl(217, 29%, 9%);
    font-size: 14px; 
    
        
    
}

footer p{
    margin-bottom: 10px;
}



.myicons {
    fill: white;
    
    
}

.myicons:hover{
    fill: #65e2d9;
    transition: .8s;
}




.nav-link {
    padding: .4rem 0;
}

.nav-link:hover{
    color: #65e2d9;
    transition: .5s;
    
}





/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 






   
    

 }



/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .myformwrapper {
        display: flex;
    }
    
    .myformwrapper .btn {
        max-width: 35%;
        
    
    }

    .logofooter {
        padding-top: 80px;
    }

    .quotes {
        padding-bottom: 80px;
    }




 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .mybox1 {
        max-width: 550px;
        /* padding-right: 10px; */
        line-height: 1.5rem;
    }

    .mybox1 h1{
        /* margin-right: 350px; */
        font-size: 1.6rem;
    }


 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }